@use "./_mixins" as *;
@use "./variables" as *;

.footer-top {
    height: 20rem;
    background-image: url('/src/assets/img/footer-bg.jpg');
    color: $primary_color_text;
    
    overflow: hidden;

    .container {
        @include flex(row, space-between, top);

        div {
            
            @include flex(row, flex-start, top);
            
            .first-col {
                padding: 3rem 0;
                display: block;
            }


            div {
                padding: 3rem 0;
                margin-right: 1.5rem;
            }
        }
        position: relative;
        img{
            position: absolute;
            right: 0%;
            top: -15%;
            width: 25rem;
        }

    }




}

.title {
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: .5rem;
}

.subtitle {
    font-size: .7rem;
    @include flex(column, flex-start);
    margin-bottom: .3rem;
    color: $secondary_color_text;
}