@use "./_mixins" as *;
@use "./variables" as *;

div {
    width: 80%;
    margin: 0 auto;
    @include flex(row, space-between);
    padding-top: 1rem;
    img{
        width: 70px;
        padding-bottom: .5rem;
    }
}

.menu {
    @include flex(row, space-between);
    list-style-type: none;
    
    li{
        margin-right: 1rem;
        font-size: .8rem;
        font-weight: 600;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        &.active {
            color: $primary_color;
            border-bottom: 5px solid $primary_color;
        }
    }

}