.hero {
    background-color: black;
    height: 6rem;
    color: white;
    font-weight: bold;
    

    div{
        padding: 1rem 0;
        width: 80%;
        margin: 0 auto;
        line-height: 3.5rem;
    }
}