@use "./_mixins" as *;
@use "./variables" as *;

.main {
    height: 7rem;
    background-color: $primary_color;
    padding: 2rem 10rem;
    ul{
        @include flex(row, space-around);
        list-style-type: none;

        li{
            color: white;
            @include flex();
            font-size: .7rem;
            img {
                width: 30px;
            }

            span {
                margin-left: .5rem;
            }
        }
    }
}